@using System.Runtime.InteropServices.ComTypes
@using System.Threading.Tasks
@using Castle.Core.Internal
@using KostenBatenTool.Models.Domain
@model IEnumerable<KostenBatenTool.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Home";
    var percentK = 50;
    var percentB = 50;
    var color = "dimgray";
   }

<h1>@ViewData["Title"]</h1>
<hr />

<div class="container-fluid">
    @if (!Model.IsNullOrEmpty())
    {
        foreach (Analyse analyse in @Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 analyseDetail animated fadeIn" style="cursor: pointer" onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'">
                <div class="row">
                    <h3 class="cardHeader col-md-10">@analyse.Organisatie.Naam</h3>
                    <a asp-controller="Home" asp-action="ZetAfgewerkt" asp-route-analyseId="@analyse.AnalyseId" class="col-md-2"><i class="fa fa-check" aria-hidden="true" style="color: #d9534f" tool-tip-toggle="tooltip" data-placement="bottom" data-original-title="Markeer als afgewerkt"></i></a>
                </div>
                <hr/>
                <div>
                    <table class="table table-responsive">
                        <tr class="header">
                            <td>Locatie</td>
                            <td>Afdeling</td>
                            <td>Resultaat</td>
                        </tr>
                        <tr>
                            <td class="header ">@analyse.Organisatie.Gemeente</td>
                            @if (analyse.Organisatie.Afdeling != null)
                            {
                                <td class="header">@analyse.Organisatie.Afdeling</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            @if (analyse.Resultaat > 0)
                            {
                                color = "green";
                            }
                            else if (analyse.Resultaat < 0)
                            {
                                color = "red";
                            }
                            <td style="color: @color; font-weight: bold; font-size: 20px;">@($"€{analyse.Resultaat:N2}")</td>
                        </tr>
                    </table>
                </div>
                @if (analyse.Resultaat != 0)
                {
                    percentK = Math.Abs(Decimal.ToInt32((analyse.KostenResultaat / analyse.Resultaat) * 100));
                    percentB = 100 - percentK;
                }
                else
                {
                    percentK = 50;
                    percentB = 50;
                }
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: @percentK%">
                        @($"€ {analyse.KostenResultaat:N2}")
                    </div>
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: @percentB%">
                        @($"€ {analyse.BatenResultaat:N2} ")
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Alle gemaakte analyses zijn afgewerkt.</p>

    }

</div>
