@using System.Runtime.InteropServices.ComTypes
@using System.Threading.Tasks
@using KostenBatenTool.Models.Domain
@model IEnumerable<KostenBatenTool.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Home";
    var percentK = 50;
    var percentB = 50;
    var color = "dimgray";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="container-fluid">
    @if (Model != null)
    {
        foreach (Analyse analyse in @Model)
        {
            <div class="col-md-4 col-sm-6 analyseDetail animated fadeIn">
                <div class="col-md-8">
                    <a asp-controller="Analyse" asp-action="Overzicht" asp-route-id="@analyse.AnalyseId">@analyse.Organisatie.Naam</a>
                </div>

                <div class="col-md-4">
                    <a href="#" id="tabel" onclick="javascript:fnExcelReport();"><i class="fa fa fa-download animated fadeInDown " aria-hidden="true"></i></a>
                    <i class="fa fa-paper-plane animated fadeInDown" aria-hidden="true"></i>
                    <a asp-controller="Analyse" asp-action="Delete" asp-route-id="@analyse.AnalyseId"><i class="fa fa-trash animated fadeInDown" aria-hidden="true"></i></a>
                </div> 
                <div>
                    <table class="table table-responsive">
                        <tr>
                            <td>Locatie</td>
                            <td>Afdeling</td>
                            <td>Resultaat</td>
                        </tr>
                        <tr>
                            <td>@analyse.Organisatie.Gemeente</td>
                            @if (analyse.Organisatie.Afdeling != null)
                            {
                                <td>@analyse.Organisatie.Afdeling</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            @if (analyse.Resultaat > 0)
                            {
                                color = "green";
                            }
                            else if (analyse.Resultaat < 0)
                            {
                                color = "red";
                            }
                            <td style="color: @color; font-weight: bold;">@($"{analyse.Resultaat:N2} €")</td>
                        </tr>
                    </table>
                </div>
                @if (analyse.Resultaat != 0)
                {
                    percentK = Math.Abs(Decimal.ToInt32((analyse.KostenResultaat / analyse.Resultaat) * 100));
                    percentB = 100 - percentK;
                }
                else
                {
                    percentK = 50;
                    percentB = 50;
                }
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: @percentK%">
                        @($"{analyse.KostenResultaat:N2} €")
                    </div>
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: @percentB%">
                        @($"{analyse.BatenResultaat:N2} €")
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Er zijn nog geen analyses aangemaakt.</p>

    }

</div>
