@using System.Threading.Tasks
@using KostenBatenTool.Models.Domain
@model IEnumerable<KostenBatenTool.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="container-fluid">
    @if (Model != null)
    {
        foreach (Analyse analyse in @Model)
        {
            <div class="col-md-4 col-sm-6 analyseDetail animated fadeIn">
                <img src="images/demallit.png" alt="colruytLogo" id="logo"/>
                <a asp-controller="Analyse" asp-action="Overzicht" asp-route-id="@analyse.AnalyseId">@analyse.Organisatie.Naam</a>
                <div>
                    <table class="table table-responsive">
                        <tr>
                            <td>Locatie</td>
                            <td>Aangemaakt op</td>
                            <td>Afdeling</td>
                            <td>Resultaat</td>
                        </tr>
                        <tr>
                            <td>@analyse.Organisatie.Gemeente</td>
                            <td>@(analyse.AanmaakDatum.Date.ToString("d") ?? "-")</td>
                            @if(analyse.Organisatie.Afdeling != null){
                                <td>@analyse.Organisatie.Afdeling</td>
                            } else{
                                <td>-</td>
                            }
                            <td style="color: red">@($"{analyse.Resultaat:N2} €")</td>
                        </tr>
                    </table>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 70%">
                        @($"{analyse.KostenResultaat:N2} €")
                    </div>
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 30%">
                        @($"{analyse.BatenResultaat:N2} €")
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Er zijn nog geen analyses aangemaakt.</p>

    }
        
</div>
