@model KostenBatenTool.Models.AnalyseViewModels.OverzichtViewModel
@{ var color = "dimgray";}
<table class="table overzicht" id="overzicht" >
   <tr>
        <th>BATEN</th>
        <th></th>
        <th>BEDRAG</th>
        <th>BEDRAG</th>
        <th></th>
        <th>KOSTEN</th>
    </tr>
    <tr>
        <td>1</td>
        <td>totale loonkostsubsidies</td>
        <td>@($"€ {Model.Baat1:N2}")</td>
        <td>@($"€ {Model.Kost1:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="LoonKost" asp-route-analyseId="@Model.AnalyseId" id="kost1">loonkosten medewerkers met grote afstand tot arbeidsmarkt</a></td>
        <td>1</td>
    </tr>

    <tr>
        <td>2</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="AanpassingsSubsidie" asp-route-analyseId="@Model.AnalyseId">tegemoetkoming in kosten voor aanpassingen werkomgeving/gereedschap</a></td>
        <td>@($"€ {Model.Baat2:N2}")</td>
        <td>@($"€ {Model.Kost2:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="VoorbereidingsKost" asp-route-analyseId="@Model.AnalyseId">kost overname werk door maatwerkbedrijf via enclave of onderaanneming</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="MedewerkerZelfdeNiveauBesparing" asp-route-analyseId="@Model.AnalyseId">besparing reguliere medewerker op hetzelfde niveau</a></td>
        <td>@($"€ {Model.Baat3:N2}")</td>
        <td>@($"€ {Model.Kost3:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="WerkkledijKost" asp-route-analyseId="@Model.AnalyseId">extra kosten werkkledij en andere personeelskosten</a></td>
        <td>3</td>
    </tr>

    <tr>
        <td>4</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="MedewerkerHogerNiveauBesparing" asp-route-analyseId="@Model.AnalyseId">besparing reguliere medewerker op hoger niveau</a></td>
        <td>@($"€ {Model.Baat4:N2}")</td>
        <td>@($"€ {Model.Kost4:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="AanpassingsKost" asp-route-analyseId="@Model.AnalyseId">extra kosten voor aanpassing werkomgeving/gereedschap</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="UitzendkrachtenBesparing" asp-route-analyseId="@Model.AnalyseId">besparing extra uitzendkracht</a></td>
        <td>@($"€ {Model.Baat5:N2}")</td>
        <td>@($"€ {Model.Kost5:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="OpleidingsKost" asp-route-analyseId="@Model.AnalyseId">extra kosten opleiding</a></td>
        <td>5</td>
    </tr>
    <tr>
        <td>6</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="OmzetverliesBesparing" asp-route-analyseId="@Model.AnalyseId">inperking omzetverlies</a></td>
        <td id="baat6B">@($"€ {Model.Baat6:N2}")</td>
        <td id="kost6B">@($"€ {Model.Kost6:N2}")</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="AdministratieBegeleidingsKost" asp-route-analyseId="@Model.AnalyseId">extra kosten administratie en begeleiding</a></td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="ProductiviteitsWinst" asp-route-analyseId="@Model.AnalyseId">productiviteitswinst</a></td>
        <td>@($"€ {Model.Baat7:N2}")</td>
        <td>@($"€ {Model.Kost7:N2}")</tdid="kost7B">
        <td><a asp-area="" asp-controller="Analyse" asp-action="AndereKost" asp-route-analyseId="@Model.AnalyseId">andere kosten</a></td>
        <td>7</td>
    </tr>
    <tr>
        <td>8</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="OverurenBesparing" asp-route-analyseId="@Model.AnalyseId">besparing op overuren</a></td>
        <td>@($"€ {Model.Baat8:N2}")</td>
        <td></td>
        <td class="none"></td>
        <td></td>
    </tr>
    <tr>
        <td>9</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="OutsourcingBesparing" asp-route-analyseId="@Model.AnalyseId">besparing op outsourcing</a></td>
        <td>@($"€ {Model.Baat9:N2}")</td>
        <td></td>
        <td class="none"></tdclass="none">
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="LogistiekeBesparing" asp-route-analyseId="@Model.AnalyseId">logistieke besparing</a></td>
        <td id="baat10B">@($"€ {Model.Baat10:N2}")</td>
        <td></td>
        <td class="none"></td>
        <td></td>
    </tr>
    <tr>
        <td>11</td>
        <td><a asp-area="" asp-controller="Analyse" asp-action="AndereBesparing" asp-route-analyseId="@Model.AnalyseId">andere besparingen</a></td>
        <td>@($"€ {Model.Baat11:N2}")</td>
        <td></td>
        <td class="none"></td>
        <td></td>
    </tr>
    <tr>
        <td> </td>
        <td class="none">SUBTOTAAL BATEN</td>

        <td>@($"€ {Model.SubTotaalBaten:N2}")</td>
        <td>@($"€ {Model.SubTotaalKosten:N2}")</td>

        <td class="none">SUBTOTAAL KOSTEN</td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td class="none">RESULTAAT</td>
        @if (Model.Resultaat > 0)
        {
            color = "green";
        }
        else if (Model.Resultaat < 0)
        {
            color = "red";
        }
       <td colspan="2" style="color: @color; font-weight: bold; font-size: 22px;">@($"€ {Model.Resultaat:N2}")</td>
        <td class="none"></td>
        <td></td>
    </tr>
</table>