@model IEnumerable<KostenBatenTool.Models.Domain.Organisatie>
<table class="table table-responsive table-striped werkgevers">
    <tr>
        <th>Werkgever</th>
        <th>Postcode</th>
        <th>Gemeente</th>
        <th>Werkuren per week</th>
        <th>Patronale bijdrage</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr onclick="window.document.location = @item.OrganisatieId;">
            <td>@item.Naam</td>
            <td>@item.Postcode</td>
            <td>@item.Gemeente</td>
            <td>@item.UrenWerkWeek</td>
            <td>@item.PatronaleBijdrage</td>
        </tr>

    }
</table>