@model IEnumerable<KostenBatenTool.Models.Domain.Organisatie>
<table class="table table-responsive table-striped werkgevers">


    @if (Model != null)
    {
        <tr>
            <th>Werkgever</th>
            <th>Afdeling</th>
            <th>Postcode</th>
            <th>Gemeente</th>
            <th>Werkuren per week</th>
            <th>Patronale bijdrage</th>
        </tr>
        foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Werkgever","Analyse", new {id = @item.OrganisatieId}))'">
                <td>@item.Naam</td>
                @if (item.Afdeling != null)
                {
                    <td>@item.Afdeling</td>
                }
                else
                {
                    <td>-</td>
                }

                <td>@item.Postcode</td>
                <td>@item.Gemeente</td>
                <td>@($"{item.UrenWerkWeek:N2}")</td>
                <td>@($"{item.PatronaleBijdrage * 100:N2} %")</td>
            </tr>
        }
    }
    else
    {
        <div>
            <p class="col-md-8 col-md-offset-1">Er zijn nog geen werkgevers aangemaakt.</p>
        </div>
    }
</table>