@model KostenBatenTool.Models.AnalyseViewModels.AdministratieBegeleidingsKostViewModel
@{
    ViewData["Title"] = "6. Extra kosten administratie en begeleiding";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h2>Hoeveel uren spendeert u jaarlijks aan extra administratie en interne begeleiding? </h2>
<table class="table table-responsive table-striped">
    <tr>
        <th>Uren</th>
        <th>Bruto maandloon begeleider</th>
        <th>Jaarbedrag</th>
    </tr>

    @*@foreach (var item in Model)
        {

            <tr>
                <td>@item.Uren</td>
                <td>@item.Maandloon</td>
                <td>@item.Jaarbedrag</td>
            </tr>
        }*@
</table>

<div class="col-md-offset-10">
    <a id="toevoegenFunctie">+ kost toevoegen</a>
</div>

<div id="loonkostPartial" class="row">
    <div class="col-md-11 col-md-offset-1">
        @Html.Partial("_administratieBegeleidingsKostPartial")
    </div>
</div>