@using System.Threading.Tasks
@using KostenBatenTool.Models.Domain
@model IEnumerable<KostenBatenTool.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Archief";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="container-fluid">
    <table class="table table-responsive archief table-striped">
       
        @if (Model != null)
        {
            <tr>

                <th>Datum</th>
                <th>Werkgever</th>
                <th>Afdeling</th>
                <th>Gemeente</th>
                <th>Resultaat</th>
                <th>Kosten</th>
                <th>Baten</th>
                <th></th>

            </tr>
            foreach (Analyse analyse in Model)
            {
                <tr style="cursor: pointer">
                    <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'">@(analyse.AanmaakDatum.Date.ToString("d") ?? "-")</td>
                        <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'">@analyse.Organisatie.Naam</td>
                        @if (analyse.Organisatie.Afdeling == null)
                        {
                            <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'">-</td>
                        }
                        else
                        {
                            <td >@analyse.Organisatie.Afdeling</td>
                        }

                        <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'">@analyse.Organisatie.Gemeente</td>
                        <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'" style="color: red">@($"{analyse.Resultaat:N2} €")</td>
                        <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'" style="color: red">@($"{analyse.KostenResultaat:N2} €")</td>
                        <td onclick="location.href = '@(Url.Action("Overzicht","Analyse", new {id = analyse.AnalyseId}))'" style="color: green">@($"{analyse.Resultaat:N2} €")</td>
                   
                    <td>
                        <a asp-controller="Analyse" asp-action="" asp-route-id="@analyse.AnalyseId"> <i class="fa fa fa-download animated fadeInDown " aria-hidden="true"></i></a>
                        <a asp-controller="Analyse" asp-action="" asp-route-id="@analyse.AnalyseId"><i class="fa fa-paper-plane animated fadeInDown" aria-hidden="true"></i></a>
                        <a asp-controller="Analyse" asp-action="" asp-route-id="@analyse.AnalyseId"> <i class="fa fa-print animated fadeInDown" aria-hidden="true"></i></a>
                        <a asp-controller="Analyse" asp-action="Delete" asp-route-id="@analyse.AnalyseId" id="myLink"><i class="fa fa-trash animated fadeInDown" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Er zijn nog geen analyses aangemaakt.</p>
        }

    </table>
</div>