@model KostenBatenTool.Models.AnalyseViewModels.LoonkostViewModel
@{
    ViewData["Title"] = "1. Loonkosten medewerkers met grote afstand tot arbeidsmarkt";
}

<h2>@ViewData["Title"]</h2>
<hr />
<h2>Welke functie zet u in?</h2>
<table class="table table-responsive table-striped">
    <tr>
        <th>Functie</th>
        <th>Aantal uren per week</th>
        <th>bruto maandloon</th>
        <th>Doelgroep</th>
        <th>Vlaamse ondersteuningspremie</th>
        <th>Aantal maanden IBO</th>
        <th>Totale productiviteitspremie IBO</th>
    </tr>
    @foreach (var item in Model)
        {

            <tr>
                <td>@item.Functie</td>
                <td>@item.Bedrag</td>
                <td>@item.</td>

            </tr>
        }

</table>

<div class="col-md-offset-10">
    <a id="toevoegenFunctie">+ functie toevoegen</a>
</div>

<div id="loonkostPartial" class="row">
    <div class="col-md-11 col-md-offset-1">
        @Html.Partial("_loonkostPartial")
    </div>
</div>