@using KostenBatenTool.Models.AnalyseViewModels
@using KostenBatenTool.Models.Domain
@model KostenBatenTool.Models.AnalyseViewModels.LoonkostViewModel
@{
    ViewData["Title"] = "1. Loonkosten medewerkers met grote afstand tot arbeidsmarkt";
}
<div class="row">
    <h1 class="col-md-7">@ViewData["Title"]</h1>
    <div class="volgendeTabs">
        <a href="@Url.Action("AndereBesparing", "Analyse", new { id = Model.AnalyseId })"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
        <a href="@Url.Action("Overzicht", "Analyse", new { id = Model.AnalyseId })">OVERZICHT</a>
        <a href="@Url.Action("VoorbereidingsKost", "Analyse", new { id = Model.AnalyseId })"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
    </div>
</div>
<hr />
<div class="row">
    <h2 class="col-md-6">Welke functie zet u in?</h2>

    <a id="toevoegenFunctie" class="col-md-offset-5"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div  class="row"> @*id="partial"*@
    <div class="col-md-11 col-md-offset-1">
        <div > @*class="functie"*@
            <form asp-controller="Analyse" asp-action="LoonKost" method="post" id="inputForm" class="form-horizontal">
                <input type="hidden" asp-for="AnalyseId" />
                <input type="hidden" asp-for="LijnId"/>
                <div class="row">
                    <label asp-for="Functie" class="col-md-2 control-label ww">Functie</label>
                    <div class="col-md-3">
                        <input asp-for="Functie" class="form-control" />
                        <span asp-validation-for="Functie" class="text-danger"></span>
                    </div>
                    <label asp-for="Vop" class="col-md-2 control-label ww">Vlaamse ondersteuningspremie</label>
                    <div class="col-md-3">
                        <input asp-for="Vop" class="form-control" type="number" />
                         <span asp-validation-for="Vop" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="UrenPerWeek" class="col-md-2 control-label ww">Uren per week</label>
                    <div class="col-md-3">
                        <input asp-for="UrenPerWeek" class="form-control" type="number" />
                        <span asp-validation-for="UrenPerWeek" class="text-danger"></span>
                    </div>

                    <label asp-for="AantalMaanden" class="col-md-2 control-label ww">Aantal maanden IBO</label>
                    <div class="col-md-3">
                        <input asp-for="AantalMaanden" class="form-control" type="number" />
                        <span asp-validation-for="AantalMaanden" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="BrutoMaandloon" class="col-md-2 control-label ww">Bruto maandloon</label>
                    <div class="col-md-3">
                        <input asp-for="BrutoMaandloon" class="form-control" type="number" />
                        <span asp-validation-for="BrutoMaandloon" class="text-danger"></span>
                    </div>
                    <label asp-for="Ibo" class="col-md-2 control-label ww">Totale productiviteitspremie</label>
                    <div class="col-md-3">
                        <input asp-for="Ibo" class="form-control" type="number" />
                        <span asp-validation-for="Ibo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Doelgroep" class="col-md-2 control-label ww">Doelgroep</label>
                    <div class="col-md-3">
                        <select asp-items="Html.GetEnumSelectList<Doelgroep>()"></select>
                        <span asp-validation-for="Doelgroep" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10" id="aanmelden">
                        <button type="submit" class="btn btn-default knop" id="">Toevoegen</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-responsive table-bordered functies">

        <tr>

            <th>Functie</th>
            <th>Aantal uren per week</th>
            <th>Bruto maandloon</th>
            <th>Doelgroep</th>
            <th>Vlaamse ondersteuningspremie</th>
            <th>Aantal maanden IBO</th>
            <th>Totale productiviteitspremie IBO</th>
        </tr>
        @foreach (LoonkostLijnViewModel lijn in Model.Lijnen)
        {
            <tr onclick="location.href = '@(Url.Action("LoonKost","Analyse", new {analyseId = Model.AnalyseId, lijnId = lijn.LijnId}))'">
                <td>@lijn.Functie</td>
                <td>@lijn.UrenPerWeek</td>
                <td>@lijn.BrutoMaandloon</td>
                <td>@lijn.Doelgroep</td>
                <td>@lijn.Vop</td>
                <td>@lijn.AantalMaanden</td>
                <td>@lijn.Ibo</td>
            </tr>
        }


    </table>
</div>
@*<script>
        window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
        window.onhashchange = function () { window.location.hash = "no-back-button"; }
    </script>*@
