@model KostenBatenTool.Models.AnalyseViewModels.MedewerkerHogerNiveauBesparingViewModel
@{
    ViewData["Title"] = "4. Besparing reguliere medewerker op hoger niveau";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <h2 class="col-md-7">Vul hier de lonen op een hoger niveau in die mogelijk vervangen worden, met het geschatte aantal uren dat per week weggehaald wordt.</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div id="partial" class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_medewerkerHogerNiveauBesparingPartial")
    </div>
</div><div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-responsive table-striped functies">
            <tr>
                <th>Uren</th>
                <th>Bruto maandloon fulltime</th>
                <th>Totale loonkost per jaar</th>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            @*@foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Uren</td>
                        <td>@item.Maandloon</td>
                        <td>@item.Loonkost
                    </tr>
                }*@
        </table>
    </div>
</div>