@model KostenBatenTool.Models.AnalyseViewModels.TypeBedragViewModel
@{
    ViewData["Title"] = "5. Extra kosten opleiding";
    var open = ViewData["open"].Equals(true) ? "in" : "";
    var knop = ViewData["open"].Equals(true) ? "Opslaan" : "Toevoegen";
}
<div class="row">
    <h1 class="col-md-7 col-sm-7 col-xs-7">@ViewData["Title"]</h1>
    <div class="volgendeTabs">
        <a href="@Url.Action("AanpassingsKost", "Analyse", new { analyseId = Model.AnalyseId })"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
        <a href="@Url.Action("Overzicht", "Analyse", new { analyseId = Model.AnalyseId })">OVERZICHT</a>
        <a href="@Url.Action("AdministratieBegeleidingsKost", "Analyse", new { analyseId = Model.AnalyseId })"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
    </div>
</div>
<hr />
<h2></h2>

<div class="row">
    <h2 class="col-md-7 col-sm-9 col-xs-9">Welke opleidingskosten moeten er gemaakt worden om de nieuwe krachten op het gewenste niveau te krijgen?</h2>
    <a id="toevoegenFunctie" class="col-md-offset-4 col-sm-offset-2 col-xs-offset-2 noMobile" href="#demo" data-toggle="collapse"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
    <a id="toevoegenFunctie" class="col-md-offset-4 col-sm-offset-2 col-xs-offset-2 mobile" href="#demo1" data-toggle="collapse"><i class="fa fa-plus fa-2x  rotate" aria-hidden="true"></i></a>
</div>
<div class="col-md-6 noMobile">
    <div id="demo" class="collapse @open">
        <div class="functie">
            <form asp-controller="Analyse" asp-action="OpleidingsKost" method="post" class="form-horizontal">
                <input type="hidden" asp-for="AnalyseId" />
                <input type="hidden" asp-for="LijnId" />
                <div class="row">
                    <label asp-for="Type" class="col-md-4 col-sm-4 col-md-offset-2 control-label ww">Type</label>
                    <div class="col-md-6 col-sm-6">
                        <input asp-for="Type" class="form-control" autofocus />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Bedrag" class="col-md-4 col-sm-4 col-md-offset-2 control-label ww">Bedrag</label>
                    <div class="col-md-6 col-sm-6">
                        <input asp-for="Bedrag" class="form-control" type="text" />
                        <span asp-validation-for="Bedrag" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-10" id="aanmelden">
                        <a asp-controller="Analyse" asp-action="OpleidingsKost" asp-route-analyseId="@Model.AnalyseId" class="btn btn-default knop">Annuleren</a>
                        <button type="submit" class="btn btn-default knop" id="">@knop</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ">
        <table class="table table-responsive table-striped functies vuilbak">
            <tr>
                <th>Type</th>
                <th>Bedrag</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Lijst)
            {

                <tr>
                    <td onclick="location.href = '@(Url.Action("OpleidingsKost","Analyse", new {analyseId = Model.AnalyseId, lijnId = item.LijnId}))'">@item.Type</td>
                    <td onclick="location.href = '@(Url.Action("OpleidingsKost","Analyse", new {analyseId = Model.AnalyseId, lijnId = item.LijnId}))'">@($"€ {item.Bedrag:N2}")</td>
                    <td><a asp-controller="Analyse" asp-action="DeleteLijn" asp-route-analyseId="@Model.AnalyseId" asp-route-lijnId="@item.LijnId" asp-route-berekeningId="@Model.BerekeningId"><i class="fa fa-trash animated fadeInDown" aria-hidden="true"></i></a></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6 mobile">
        <div id="demo1" class="collapse @open">
            <div class="functie">
                <form asp-controller="Analyse" asp-action="OpleidingsKost" method="post" class="form-horizontal">
                    <input type="hidden" asp-for="AnalyseId" />
                    <input type="hidden" asp-for="LijnId" />
                    <div class="row">
                        <label asp-for="Type" class="col-md-4 col-md-offset-2 ww">Type</label>
                        <div class="col-md-6">
                            <input asp-for="Type" class="form-control" autofocus/>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="Bedrag" class="col-md-4  col-md-offset-2 control-label ww">Bedrag</label>
                        <div class="col-md-6">
                            <input asp-for="Bedrag" class="form-control" type="number" />
                            <span asp-validation-for="Bedrag" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" id="aanmelden">
                            <a asp-controller="Analyse" asp-action="OpleidingsKost" asp-route-analyseId="@Model.AnalyseId" class="btn btn-default knop">Annuleren</a>
                            <button type="submit" class="btn btn-default knop" id="">@knop</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

