@model KostenBatenTool.Models.AnalyseViewModels.OverzichtViewModel
@{
    ViewData["Title"] = Model.Organisatie.Naam+ ", " + Model.Organisatie.Gemeente ;
}
<div class="row">
    <h1 class="col-md-8">@ViewData["Title"] <a asp-controller="Analyse" asp-action="Werkgever" asp-route-id="@Model.Organisatie.OrganisatieId"><i class="fa fa-pencil" aria-hidden="true"></i></a></h1>
   
    <div class="col-md-2 col-md-offset-2 overzichtBtn">
        <i class="fa fa fa-download animated fadeInDown " aria-hidden="true"></i>
        <i class="fa fa-paper-plane animated fadeInDown" aria-hidden="true"></i>
        <i class="fa fa-print animated fadeInDown" aria-hidden="true"></i>
    </div>
</div>
<hr />

<div class="row overzichtTabs">
    <a class="col-md-1 col-md-offset-4" id="show-baten">BATEN</a>
    <a class="col-md-2 active" id="show-overzicht">OVERZICHT</a>
    <a class="col-md-1" id="show-kosten">KOSTEN</a>
</div>

<div id="batenpartial" class="row">
    <div class="col-md-12 ">
        @Html.Partial("_batenpartial",Model)
    </div>
</div>
<div id="overzichtpartial" class="row">
    <div class="col-md-12 ">
        @Html.Partial("_overzichtpartial", Model)
    </div>
</div>
<div id="kostenpartial" class="row">
    <div class="col-md-12">
        @Html.Partial("_kostenpartial", Model)
    </div>
</div>